<div th:fragment="admin-header">
	<div class="header-image">
		<img class="admin-background-image"
			th:src="@{/img/watercolor-re10.jpg}">
	</div>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">管理者画面</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- navbar右寄せ① -->
				<div class="collapse navbar-collapse justify-content-end"
					id="navbarNav">
					<!-- navbar右寄せ② -->
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="./index">一覧</a></li>
						<li class="nav-item"><a class="nav-link" href="./new">作成</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/play">解く</a>
						</li>
						<li class="nav-item"><a class="nav-link disabled" href="#"
							tabindex="-1" aria-disabled="true">Top</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
</div>