<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>new quiz</title>
<link th:href="@{/css/admin/index.css}" rel="stylesheet">
<head th:replace="common :: meta_header('index',~{::link},~{::script})">
</head>
<body>
	<h2>クイズ一覧画面</h2>
	<a href="./new">クイズを登録する</a>
	<th:block th:if="${successMsgFlg}">
		<div class="alert alert-primary" role="alert"><p>登録完了しました。</p></div>
	</th:block>
	<table border="0">
		<thead>
			<tr>
				<th>id</th>
				<th>問題</th>
				<th>答え</th>
				<th>選択肢2</th>
				<th>選択肢3</th>
				<th>編集</th>
		<thead>
		<tbody>
			<tr th:each="quiz: ${quizList}" th:object="${quiz}">
				<td th:text="${quiz.id}"></td>
				<td th:text="${quiz.quiz}"></td>
				<td th:text="${quiz.answer1}" class="text-danger"></td>
				<td th:text="${quiz.answer2}"></td>
				<td th:text="${quiz.answer3}"></td>
				<td><button type="button" class="btn btn-outline-info">編集</button></td>
			</tr>
		</tbody>
	</table>
</body>
</html>