<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>new quiz</title>
<head th:replace="common :: meta_header('New',~{::link},~{::script})">
<link th:href="@{/css/admin/new.css}" rel="stylesheet">
<link th:href="@{/css/admin/header.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="admin/header::admin-header"></div>
	<div class="container">
		<h4>クイズを作成する</h4>
		<form method="post" th:action="@{/admin/new}" class="form-control mb-5">
			<div class="mb-3">
				<label for="quizInput" class="form-label">問題：</label>
				<input type="text" name="quiz" class="form-control" id="quizInput" aria-describedby="quizTitleHelp">
	    		<div id="quizTitleHelp" class="form-text">問題文を入力してください</div>
			</div>
			<div class="mb-3">
				<label for="answer1Input" class="form-label">解答：</label>
				<input type="text" name="answer1" class="form-control" id="answer1Input" aria-describedby="answer1Help">
	    		<div id="answer1Help" class="form-text">解答を入力してください</div>
			</div>
			<div class="mb-3">
				<label for="answer2Input" class="form-label">選択肢：</label>
				<input type="text" name="answer2" class="form-control" id="answer2Help">
	    		<div id="answer2Help" class="form-text">その他選択肢を入力してください</div>			
			</div>
			<div class="mb-3">
				<label for="answer3Input" class="form-label">選択肢：</label>
				<input type="text" name="answer3" class="form-control" id="answer3Help">
	    		<div id="answer3Help" class="form-text">その他選択肢を入力してください</div>			
			</div>											
		    <button type="submit" class="btn btn-outline-info">登録</button>
		</form>
	
		<h4>クイズを一括登録する</h4>
		<p>csvファイルをアップロードするだけでまとめてクイズの登録ができる。</p>
		<form method="post" action="upload" enctype="multipart/form-data" class="form-control">
			<div class="mb-3">
		  		<label for="formFile" class="form-label">csvファイルを選択</label>
		  		<input class="form-control" type="file" name="file" id="formFile">
			</div>
			<div class="mb-3">
		  		<label for="formFile" class="form-label">csvファイルを選択</label>
		  		<button type="submit" name="upload_file" class="btn btn-outline-info">アップロード</button>
		  	</div>
		</form>
	</div>
</body>
</html>