<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regex.mapper.QuizMapper">
    <select id="selectAll" resultType="com.regex.entity.Quiz">
        select id, quiz, answer1, answer2, answer3 from quiz
    </select>   
</mapper>