<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regex.mapper.QuizMapper">
	<!-- クイズを全件検索 -->
    <select id="selectAll" resultType="com.regex.entity.Quiz">
        select id, quiz, answer1, answer2, answer3 from quiz;
    </select>
    <!-- クイズをランダムに10問セレクトする -->
    <select id="selectQuiz10" resultType="com.regex.entity.Quiz">
    	select id, quiz, answer1, answer2, answer3 from quiz ORDER BY random() LIMIT 10;
    </select>
    <!-- クイズをランダムに1問セレクトする -->
    <select id="selectQuiz1" resultType="com.regex.entity.Quiz">
    	select id, quiz, answer1, answer2, answer3 from quiz 
    	WHERE id not exists (#{id});
    	ORDER BY random() LIMIT 1;
    </select>
    <!-- クイズ作成 -->
	<insert id="insertQuiz" parameterType="com.regex.entity.Quiz">
		INSERT INTO quiz (quiz, answer1, answer2, answer3, created_at, updated_at)
		VALUES (#{quiz}, #{answer1}, #{answer2}, #{answer3}, current_timestamp, current_timestamp);
	</insert>
	<!-- csvからクイズ作成 -->
	<insert id="createCsvQuiz" parameterType="com.regex.entity.Quiz">
		INSERT INTO quiz (quiz, answer1, answer2, answer3, created_at, updated_at)
		VALUES (#{quiz}, #{answer1}, #{answer2}, #{answer3}, current_timestamp, current_timestamp);
	</insert>
	
	 <!-- クイズセット情報取得(1件) --> 
    <select id="selectQuizset" resultType="com.regex.entity.Quiz">
        select id, quiz, answer1, answer2, answer3 from quiz where id=#{id};
    </select>
</mapper>