/** ==========テーブル見出し情報============ **/
table > thead > tr > th {
	padding-right: 12px;
    padding-left: 3px;
}

/* table > tbody > tr > td { */
/* 	text-align: center; */
/* } */

#all-choice {
	/* 	文字列を折り返さない */
	white-space: nowrap;
}

/** ==========テーブル一覧情報============ **/

.checkbox_list {
	text-align: center;
}


