body {
    background-image: url(/img/background.jpg);
}

.content {
    background-color: #fff;
    margin: 80px auto 0;
}

.headline {
    font-size: 150%;
    font-weight: bold;
    letter-spacing: 0.2em;
}