<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('Quiz',~{::link},~{::script})">
</head>
        <div th:each="q, stat : ${quizList}">
            <h3 th:text="|第${stat.count}問目|"></h3>
            <h4 th:text="${q.quiz}" /></h4>
                <th:block th:with="i=${stat.index}*3">
                    <button th:text="${quizNumberList.get(i)}"></button>
                    <button th:text="${quizNumberList.get(i+1)}"></button>
                    <button th:text="${quizNumberList.get(i+2)}"></button>
                </th:block>
<!--             <th:block th:each="i : ${#numbers.sequence(0,2)}"> -->
<!-- 				<th:block th:each="i : ${quizNumberList.sequence(0,2)}"> -->
<!--             	<div> -->
<!-- 	            	変数名の連結：先に展開したい変数を__のプリプロセッサで展開させ、かつ|のリテラル式で囲む -->
<!--             		<button th:text="|${q.answer__${quizNumberList.get(i*3)}__}|"></button> -->
<!--             	</div> -->
<!--             	|${hogehoge__${stat.count}__}| -->
<!--             	th:text="|prefix_${変数}_postfix|" -->
               </th:block>
            </div>
         </div>
    </body>
</html>